*{
	margin:0;
	padding:0;
}

body{
	font-family: 'Poppins', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
	background-color: #ffffffad;
	color: #333333;
	background-image: url(images/backgroud.png);
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	justify-content: space-between;
}

.logo{
	text-decoration: none;
	width: 75px;
	transition: 0.2s ease-in-out;
}

.botao-unidades,
.botao-horarios,
.botao-parceiros{
	text-decoration: none;
	background-color: #d8e3ec;
	border: none;
	width: 85px;
	text-align: center;
	border-radius: 15px;
	padding: 15px;
	transition: 0.2s ease-in-out;
	color: #333333;
}
.logo:hover{
	transform: scale(1.05);
}
.botao-horarios:hover,
.botao-parceiros:hover,
.botao-unidades:hover,
.cartao-plano:hover{
	transform: scale(1.03);
	background-color: #96d9d6;
}

main .site{
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: center;
	padding: 25px;
}

main .cartao-plano {
	background-color: #d8e3ec;
	width: 175px;
	padding: 25px;
	display: flex;
	flex-direction: column;
	gap:10px;
	border-radius:15px;
}

main .planos {
	display: contents;
	justify-content:space-between;
	border-radius: 10px;
	font-size: 17px;
	padding: 10px;
}

main .nome-plano{
	font-size: 15px;
	background-color: #e5ff00;
	border-radius: 5px;
	width: 55px;
}
.matricule-se {
	text-decoration: none;
	background-color: #e5ff00;
	border: none;
	width: 100px;
	text-align: center;
	border-radius: 15px;
	padding: 10px;
	transition: 0.2s ease-in-out;
	color: #333333;
	text-align: center;
}
.matricule-se:hover{
	transform: scale(1.05);
	background-color: #a6ff00;
}



