* {
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Poppins', sans-serif;
	max-width: 1280px;
	margin: 0 auto;
	background-color: #ffffffad;
	color: #333333;
	background-image: url(images/backgroud.png);
	background-size: cover;
	background-repeat: no-repeat;
}

header {
	justify-content: space-between;
}

.logo {
	text-decoration: none;
	width: 75px;
	transition: 0.2s ease-in-out;
}

.botao-unidades,
.botao-horarios,
.botao-parceiros {
	text-decoration: none;
	background-color: #d8e3ec;
	border: none;
	width: 85px;
	text-align: center;
	border-radius: 15px;
	padding: 15px;
	transition: 0.2s ease-in-out;
	color: #333333;
}

.logo:hover {
	transform: scale(1.05);
}

.botao-horarios:hover,
.botao-parceiros:hover,
.botao-unidades:hover,
.cartao-plano:hover {
	transform: scale(1.05);
	background-color: #96d9d6;
}

#matricula{
	display: flex;
	justify-content: center;
	padding: 100px;
}
fieldset{
	border-radius: 15px;
	background-color: #d8e3ec;
}
.titulo{
	text-align: center;
	text-shadow: 2px 2px #96d9d6;
}
.container{
	padding: 2px;
}

.btn_submit{
	border-radius: 5px;
	border-color: #333333;
	border-style: none;
	display: flex;
	background-color: #96d9d6;
}